<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="CardDatabaseEntities" connectionString="metadata=res://*/CardDbContext.csdl|res://*/CardDbContext.ssdl|res://*/CardDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(Local);initial catalog=CardDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnStringUnitTestExcelDataSource" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\\CardProducts.xls;Extended Properties=&quot;Excel 8.0;HDR=Yes;IMEX=1&quot;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="DataSourceVISACard" connectionString="ConnStringUnitTestExcelDataSource" dataTableName="VISA$" dataAccessMethod="Sequential" />
      <add name="DataSourceJCBCard" connectionString="ConnStringUnitTestExcelDataSource" dataTableName="JCB$" dataAccessMethod="Sequential" />
      <add name="DataSourceMasterCardCard" connectionString="ConnStringUnitTestExcelDataSource" dataTableName="MasterCard$" dataAccessMethod="Sequential" />
      <add name="DataSourceAmexCard" connectionString="ConnStringUnitTestExcelDataSource" dataTableName="Amex$" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>